body {
    background-image: url("christmas.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.delivery {
    border: 10px solid green;
    border-radius: 30px;
    margin-bottom: 20px;

}

.click {
    background-color: green;
    color: white;
    font-weight: bold;
    height: 50px;
    width: 200px;
    margin-bottom: 20px;
    cursor: pointer;
}

.gift {
    visibility: hidden;
    height: 50vh;
    border: 10px solid green;
    border-radius: 30px;
}

.click:focus+.gift {
    visibility: visible;
}

.santa,
.santa2 {
    position: absolute;
    z-index: 1;
    height: 50vh;

}

.santa {
    left: 2%;
    top: 25%;
}

.santa2 {
    right: 2%;
    top: 25%;
}