
.header{
    position:sticky;
    top:0;
    z-index:2;
    background-color: black;
    overflow:hidden;
    padding: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

.header .logo{
    float:left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 40px;
    font-style:oblique;
}

.header .right a{
    float:right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

.header .right a:hover{
    background-color: white;
    color:black;
    transform:scale(1.2);
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.bg1{
    background-color: yellow;
    overflow:hidden;
    padding: 230px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-size: 20px;
}

.sectionh1{
    font-size: 30px;
    font-style:bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.but-1{
    width:150px;
    height:40px;
    border:none;
    background-color: black;
    border-radius: 25px;
    transition: ease-out 0.25s;
}

.but-1:hover{
    box-shadow: inset 200px 0 0 0 grey;
    cursor:pointer;
}

.bg1 .shop a{
    text-decoration: none;
    font-size: 18px;
    color: yellow;
}

.bg2{
    overflow:hidden;
    padding: 150px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-size: 20px;
    background-color: yellow;
}

.sectionh2{
    font-size: 30px;
    font-style:bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.product1{
    padding:200px;
}

.product1 .shop .but-1 a{
    text-decoration: none;
    font-size: 14px;
    color: yellow;
}

.product1 img{
    width: 400px;
    height: 400px;
    float:right;
    z-index:1;
}

.home1 img{
    float:right;
    width: 650px;
    height: 400px;
    z-index:1;
}

.home1{
    padding:200px;
}

.home2{
    padding:200px; 
}

.home2 img{
    float:left;
    width: 650px;
    height: 400px;
    z-index:1;
}

.home2 h1, .home2 h2{
    text-align: right;
}

.ab img{
    width: 700px;
    height: 400px;
    z-index:1;
}

.ab{
    padding-top: 150px;
}

.ab h1, .ab h2{
    text-align: center;
    padding-left:100px;
}